<!DOCTYPE html>
<html>
<head>
    <title>CART</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <!-- Table -->
    <div class="container">
        <h1>CART</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">IDs</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody id="product-list">
                <!-- products will be appended here -->
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function () {
            //GETALL           
            $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetCartProduct", "Product")',
                    success: function (data) {
                        var productList = $('#product-list');
                        productList.empty();
                         $.each(data, function (index, product) {
                            productList.append(
                            '<tr><th scope="row">' + product.id + '</th><td>' + product.name + '</td><td>' + product.price +
                            '</td><td><button class="btn btn-danger btn-sm" data-id="' + product.id + '" data-name="' + product.name + '" data-price="' + product.price +
                            '  <td><button class="btn btn-danger btn-sm"> Delete </button></td>'
                            );
                         });
                    }
            });
            
            //DELETE
            $('#product-list').on('click', '.btn-danger', function () {
                var row = $(this).closest('tr');
                var id = row.find('th').text();
                $.ajax({
                    type: 'DELETE',
                    url: '/api/Product/DeleteProduct/' + id,
                    success: function (data) {
                        row.remove();
                        alert(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('Error deleting product: ' + textStatus + ' - ' + errorThrown);
                    }
                });
            });
        });
 
    </script>

</body>
</html>